* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 0.625;
    background-color: #b0b5af6e;
}
.contenedor {
    background-color:#b0b5af6e;
}



.header__contactos {
    font-size: 1.85rem;
    display: flex;
    justify-content:space-evenly;
    background-color: #b0b5af6e;
}


.header__logo {
    display:inline-block;
    
}
.header__navegable {
    display: inline-block;
    position: fixed;
    text-decoration: black;
    
}

.header__list {
    list-style: none;
    display: flex;

}

.header__item {
    display: flex;
    margin-right: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    background-color: #b0b5af6e;
}


.titular {
    font-size: 5rem;
   display: flex;
   justify-content: center;
   background-color: #b0b5af6e;

}

.paisajes {
    display: inline-block;
   width: 100%;
   text-align: center;
}

.excursiones__destacadas {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background-color: #b0b5af6e;

}

.excursiones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

.excursion__imagen{
    display: flex;
    width: 100%;
    height: 300px;

}

.descripcion__breve {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align:center;
    contain: size;

}

.guia_turistico {
    display: grid;
    grid-template-columns: 1fr;
}

.imagen__marcos {
    width: 15rem;
}

.mi_historia {
    font-size: 2rem;
}




.foto__turismo {
    width: 100%;
    height: 20rem;
}

.ushuaia__turismo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto__ushuaia {
    display: flex;
    justify-content:start ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.grilla__verano {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: #b0b5af6e;
    
  }

.grilla__item {
    width: 100%;
    height: 300px;

 }
  
 
.excursion__grilla {
    font-size: 3rem;
    align-items: center;
    transition: height 2s
    
}    

.excursion__grilla:hover {
    height: 200px;
}

.verano__section {
    background-color: #b0b5af6e
}

.paisaje__nevado {
    display: flex;
    width: 100%;
    height: 30rem;
}

   

.descripcion__invierno {
    display: flex;
}

.imagen__invierno {
    display: flex;
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 320px) {
    
    .header__contactos {
        font-size: 1.5rem;
    }
    .header__navegable {
        display: flex;
        position: initial;
    }
    .header__list {
        flex-direction: column;
    }
    .header__item {
        flex-direction: column;
    }
    .titular {
        font-size: 3rem;
    }
    .guia_turistico {
        display: flex;
        flex-direction: column;
    }
    .imagen__marcos{
        width: 100%;
    }
    .grilla__verano {
        grid-template-columns: 1fr 1fr;
    
    }
    .excursiones__destacadas {
        font-size: 1.5rem;
    }
    .excursiones {
        display: flex;
        flex-direction: column;
    }
    .descripcion__breve {
        contain: content;
    }
    .invierno {
        grid-template-columns: 1fr 1fr;
    }

}



@media  screen and (min-width: 768px) {
    .header__navegable {
        display: flex;
        position: initial;

    }
    .header__list {
        flex-direction: row;
    }
    .header__item {
        flex-direction:row ;
    }
    .titular {
        font-size: 3rem;
    }
    .guia_turistico {
        flex-direction: column;
    }
    .grilla__verano {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media screen and (min-width: 1024px) {
    .header__contactos {
        font-size: 1.85rem;
    }
    .header__navegable {
        display: inline-block;
        position: fixed;
    }
    .header__list {
        flex-direction: row;
    }
   .titular {
    font-size: 5rem;
   }
   .guia_turistico{
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

   .imagen__marcos {
       width: 15rem;
   }
   .excursiones__destacadas {
       font-size: 5rem;
   }
   .excursiones {
    display: grid;
   
   }
   .excursion__imagen {
       display: flex;
   }
   .grilla__verano {
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr;
   }
}

